/* Modal */
.modal-menu {
	max-width: 744px;
	padding: 0 30px;
}

.titulo {
	margin: 20px 0 10px 0;
}

.modal-menu .select {
	display: block;
}

.data-picker {
	border: 1px solid var(--input-borda);
    padding: 5px 15px;
    width: calc(50% - 20px);
    margin-right: 18px;
    outline: none;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 8px;
    color: var(--input-placeholder);
}

.botoes {
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.tabela {
	height: 282px;
	overflow-y: scroll;
}

.container-radios {
    border-collapse: collapse;
    width: 100%;
}

.radios-titulo {
    text-align: left;
    font-weight: 700;
    padding-left: 1rem;
    padding-top: 1rem;
}

.radio {
    padding-left: 1rem;
}

.radio,
.radio-head {
	background-color: var(--radio-fundo);
    border-bottom: 2px solid var(--radio-borda);
    height: 50px;
}